
.panel {
	padding: 0.5em;
	margin-bottom: 1em;
}

.panel p {
	font-size: 0.9em;
}

.tabs-content > .content {
	padding-bottom: 0em;
}

.entry-section {
	border-style: solid;
	border-width: 1px;
	border-color: #d8d8d8;;
	height: 40em;
	overflow: scroll;
}

#map {
	height: 40em;
}

.container {
	padding: 1em;
	max-width: 100%;
}

.top-bar h1 {
	font-family: 'Noto Serif', serif;
}
